<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div class="all">
    <div class="assignment_title_div">
        <img src="../../img/book-btn.png" alt="book_btn" class="book_btn">
        <h3 class="assignment_title" th:text="'과제 제출 - ' + ${homework.title}"></h3>
    </div>
    <div class="assignment_box">
        <div class="assignment_txt_div">
            <div class="title">
                <p class="assignment_category" th:text="'과제 : ' + ${homework.cate}">과제 유형</p>
            </div>
            <div class="line">
                <p class="assignment_goal" th:text="${homework.description}">과제 설명</p>
                <p class="assignment_deadline_date" th:text="${#temporals.format(homework.dueDate, 'yyyy-MM-dd')}">마감 날짜</p>
                <p class="assignment_deadline_time" th:text="${homework.dueTime}">마감 시간</p>
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 내용 확인하기</p>
            <div class="assignment_check_box" style="overflow: auto">
                <h5>[기능 구현 예시]</h5>
                <h6>과제와 관련된 추가 설명을 여기에 입력할 수 있습니다.</h6>
                <!-- 여기에 추가 정보가 필요하다면, 데이터베이스에서 해당 정보를 가져와서 출력 -->
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 제출하기</p>
            <div id="fileContainer">
                <div class="file_box">
                    <p class="file_name">과제 파일을 제출할 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="file_add_div">
            <img src="../../img/clip.png" alt="file_clip" class="file_clip">
            <div class="file_add_div">
                <input type="file" id="fileInput">
                <button onclick="uploadFile()">파일 추가하기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="../../js/fileUpload.js"></script>
</body>

</html>
