<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="utf-8">

</head>

<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div class="all">
    <div class="assignment_title_div">
        <img src="/static/img/book-btn.png" alt="book_btn" class="book_btn">
        <h3 class="assignment_title" th:text="'과제 제출 - ' + ${homework.title}"></h3>
    </div>
    <button class="new_homework_btn" th:onclick="|location.href='/homework/edit/' + ${homework.id}|">과제 수정하기</button>
    <div class="assignment_box">
        <div class="assignment_txt_div">
            <div class="title">
                <p class="assignment_category" th:text="'과제 : ' + ${homework.cate}">과제 유형</p>
            </div>
            <div class="line">
                <p class="assignment_deadline_date" th:text="${#temporals.format(homework.dueDate, 'yyyy-MM-dd')}">마감 날짜</p>
                <p class="assignment_deadline_time" th:text="${homework.dueTime}">마감 시간</p>
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 내용 확인하기</p>
            <div class="assignment_check_box" style="overflow: auto">
                <p class="assignment_goal" th:text="${homework.description}">과제 설명</p>
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">제출된 파일</p>
            <div id="fileContainer">
                <div th:each="entry : ${submittedFilesGroupedByUser}">
                    <div class="file_group">
                        <p class="user_name" th:text="'제출자: ' + ${entry.key.name}">제출자 이름</p>
                        <div th:each="userHomework : ${entry.value}" class="file_box">
                            <a th:text="'파일: ' + ${userHomework.files[0].fileName}" th:href="'/files/' + ${userHomework.files[0].id}" class="file_name">다운로드</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/static/js/fileUpload.js"></script>
</body>

</html>
