<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/homework.css">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div class="all">
    <div class="assignment_title_div">
        <img src="/static/img/book-btn.png" alt="book_btn" class="book_btn">
        <h3 class="assignment_title" th:text="'과제 제출 - ' + ${homework.title}"></h3>
    </div>
    <div class="assignment_box">
        <div class="assignment_txt_div">
            <div class="title">
                <p class="assignment_category" th:text="'과제 : ' + ${homework.cate}">과제 유형</p>
            </div>
            <div class="line">
                <p class="assignment_deadline_date" th:text="${#temporals.format(homework.dueDate, 'yyyy-MM-dd')}">마감 날짜</p>
                <p class="assignment_deadline_time" th:text="${homework.dueTime}">마감 시간</p>
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 내용 확인하기</p>
            <div class="assignment_check_box" style="overflow: auto">
                <p class="assignment_goal" th:text="${homework.description}">과제 설명</p>
            </div>
        </div>
        <div class="assignment_sub_div">
            <p class="assignment_subtitle">과제 제출하기</p>
            <div id="fileContainer">
                <div th:each="homework : ${submittedFiles}" class="file_box">
                    <div th:each="file : ${homework.files}" >
                        <a th:href="'/download/' + ${file.id}" th:text="'파일: ' + ${file.fileName}" class="file_name">다운로드</a>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="file_box">
                    <p class="file_name">과제 파일을 제출할 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="file_add_div">
            <img src="/static/img/file-clip.png" alt="file_clip" class="file_clip">
            <div class="file_add_div">
                <input type="file" id="fileInput">
                <button th:attr="onclick='uploadFile(' + ${homework.id} + ')'">파일 추가하기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/static/js/fileUpload.js"></script>
</body>

</html>
