<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/write.css">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<a href="admin_home">
    <img class="home" src="../../static/img/home.png" width="50" alt="HOME">
</a>
<div class="all">
    <div class="assignment_title_div">
        <h3 class="assignment_title" th:text="${homework != null} ? '과제 수정하기' : '과제 부여하기'">과제 부여하기</h3>
    </div>

    <form th:action="@{/homework/save}" method="POST" enctype="multipart/form-data">
        <div class="assignment_box">
            <div class="assignment_txt_div">
                <div class="cate">
                    <label for="assignment_cate">과제 유형:</label>
                    <input type="text" id="assignment_cate" class="assignment_input" name="cate"
                           th:value="${homework != null ? homework.cate : ''}" placeholder="과제 유형을 입력하세요">
                </div>
                <div class="title">
                    <label for="assignment_title">과제 제목:</label>
                    <input type="text" id="assignment_title" class="assignment_input" name="title"
                           th:value="${homework != null ? homework.title : ''}" placeholder="과제 제목을 입력하세요">
                </div>
                <div>
                    <label for="assignment_description">과제 설명:</label>
                    <textarea id="assignment_description" class="assignment_input" name="description" rows="5"
                              placeholder="과제 설명을 입력하세요" th:text="${homework != null ? homework.description : ''}"></textarea>
                </div>
                <div class="line">
                    <label for="assignment_due_date">마감 날짜:</label>
                    <input type="date" id="assignment_due_date" class="assignment_input" name="dueDate"
                           th:value="${homework != null ? #temporals.format(homework.dueDate, 'yyyy-MM-dd') : ''}">
                </div>
                <div class="line">
                    <label for="assignment_due_time">마감 시간:</label>
                    <input type="time" id="assignment_due_time" class="assignment_input" name="dueTime"
                           th:value="${homework != null ? homework.dueTime : ''}">
                </div>
            </div>
            <div class="file_upload_div">
                <label for="fileUpload">파일 추가:</label>
                <input type="file" id="fileUpload" name="file"/>
            </div>

            <div class="assignment_sub_div">
                <button type="submit" class="submit_btn" th:text="${homework != null} ? '과제 수정하기' : '과제 부여하기'">
                    과제 부여하기
                </button>
            </div>
        </div>



    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/static/js/assignSubmit.js"></script>
</body>
</html>
