.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination button {
    background-color: #ffffff;
    color: var(--color-main-black);
    padding: 8px 16px;
    border: 1px solid var(--color-orange-main);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.pagination button.active {
    background-color: var(--color-orange-main);
    color: white;
    border: 1px solid var(--color-orange-main);
}

.pagination button:hover {
    background-color: var(--color-orange-light);
    color: var(--color-main-black);
}