<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Thymeleaf를 사용할 때 @{}를 사용하여 경로를 처리 -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin_home.css}">
  <title>Admin_Home</title>
</head>
<body>
<div class="all">
  <!-- 링크에도 Thymeleaf를 사용하여 경로 처리 -->
  <a th:href="@{/home.html}">
    <img class="home" th:src="@{/img/home.png}" width="50" alt="HOME">
  </a>
  <div class="page_title">
    <p class="page_title_txt">Admin_page</p>
  </div>
  <div class="button">
    <!-- button 클릭 시 링크로 이동하는 부분도 Thymeleaf를 사용하여 경로 처리 -->
    <button type="button" th:onclick="|location.href='@{/homework/write.html}'|">Assignment</button>
    <button type="button" th:onclick="|location.href='@{/homework/homework_list.html}'|">homework_list</button>
    <button type="button">etc..</button>
  </div>
</div>

<!-- JS 파일도 Thymeleaf 경로로 수정 -->
<script th:src="@{/js/login.js}"></script>
</body>
</html>
