<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/admin_home.css">
  <title>Admin_Home</title>
</head>
<body>
<div class="all">
  <img src="/img/home.png" width="50" alt="HOME">
  <div class="page_title">
    <p class="page_title_txt">Admin_page</p>
  </div>
  <div class="button">
    <button type="button" onclick="location.href='/homework/homework_admin.html'">Assignment</button>
    <button type="button" >Student_list</button>
    <button type="button">etc..</button>
  </div>

</div>

</body>
<script src="/js/login.js"></script>
</html>
