<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <title>Welcome</title>
</head>
<body>
<div class="WelcomeTitle">
    <p class="Welcome">Welcome!!</p>
    <p class="This">This is LikeLion LMS Page.</p>
</div>
<div class="container">
    <div class="arrow" id="toggle-button">
        <img src="/static/img/Arrow.png" width="50" alt="Arrow">
    </div>
    <form action="http://localhost:8080/login" method="post">
        <div class="login-box" id="login-box">
            <p class="login">Login</p>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" id="login-button">Login</button>
        </div>
    </form>
</div>
    <script src="/static/js/login.js"></script>
</body>
</html>
